In [0]:
import pandas as pd
import numpy as np
import pyecharts

In [10]:
pip install pyecharts

Collecting pyecharts
  Downloading https://files.pythonhosted.org/packages/fc/15/c30e542fcf1245eaa0198327879e7869c2c49c600611b2b2d70fbbbcd252/pyecharts-1.6.2-py3-none-any.whl (168kB)
     |████████████████████████████████| 174kB 2.8MB/s
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from pyecharts) (2.11.1)
Collecting simplejson
  Downloading https://files.pythonhosted.org/packages/98/87/a7b98aa9256c8843f92878966dc3d8d914c14aad97e2c5ce4798d5743e07/simplejson-3.17.0.tar.gz (83kB)
     |████████████████████████████████| 92kB 9.9MB/s
Requirement already satisfied: prettytable in /usr/local/lib/python3.6/dist-packages (from pyecharts) (0.7.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->pyecharts) (1.1.1)
Building wheels for collected packages: simplejson
  Building wheel for simplejson (setup.py) ... done
  Created wheel for simplejson: filename=simplejson-3.17.0-cp36-cp36m-linux_x86_64.whl size=114216 sha256=5585d7a25aa740d1a78a5a1d649b235a477f4bbce4d79509be4f382f10433ae9
  Stored in directory: /root/.cache/pip/wheels/86/c0/83/dcd0339abb2640544bb8e0938aab2d069cef55e5647ce6e097
Successfully built simplejson
Installing collected packages: simplejson, pyecharts
Successfully installed pyecharts-1.6.2 simplejson-3.17.0

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
data_path = 'patient_data.csv'
data = pd.read_csv(data_path,  encoding = 'euc-kr')

In [34]:
data.head()

         date  ID degree hospital condition sex     type  age country note
0  2020-01-19   1     1차    인천의료원        퇴원   여  중국인 관광객  30대      중국  NaN
1  2020-01-22   2     1차  국립중앙의료원        퇴원   남    우한 교민  50대      한국  NaN
2  2020-01-25   3     1차   일산명지병원        입원   남    우한 교민  50대      한국  NaN
3  2020-01-26   4     1차  분당서울대병원        퇴원   남   우한 방문자  50대      한국  NaN
4  2020-01-30   5     1차    서울의료원        입원   남   우한 방문자  30대      한국  NaN

In [35]:
data = data.fillna("")
data.head()

         date  ID degree hospital condition sex     type  age country note
0  2020-01-19   1     1차    인천의료원        퇴원   여  중국인 관광객  30대      중국
1  2020-01-22   2     1차  국립중앙의료원        퇴원   남    우한 교민  50대      한국
2  2020-01-25   3     1차   일산명지병원        입원   남    우한 교민  50대      한국
3  2020-01-26   4     1차  분당서울대병원        퇴원   남   우한 방문자  50대      한국
4  2020-01-30   5     1차    서울의료원        입원   남   우한 방문자  30대      한국

In [0]:
age = list(np.sort(data.age.unique()))
age_value = list(data.age.value_counts().sort_index())

In [0]:
age_bar = (
        Bar()
        .add_xaxis(age)
        .add_yaxis("확진자 수(명)", age_value, color="#BDBDBD")
        .set_global_opts(title_opts=opts.TitleOpts(title="격리병원"))
        .set_series_opts(label_opts=opts.LabelOpts(position="right", color=["black"]))
        .reversal_axis()
)

In [50]:
age_bar.render()

'/content/drive/My Drive/render.html'

In [0]:

age_bar.render_notebook()